[submodule "themes/raditian-free-hugo-theme"]
	path = themes/raditian-free-hugo-theme
	url = https://github.com/chewing-git/raditian-free-hugo-theme
[submodule "public"]
	path = public
	url = http://github.com/seoangie330/seoangie330.github.io
